<section style="background-color: #f8f6f7; box-sizing: border-box; font-family: sans-serif; color: black;">
    <section style="background-color: white; width: 80%; margin: auto;  padding: 5%;">

        <header style="overflow: auto; margin-bottom: 50px;">
            <section style="width: 50%; float: left; display: inline-block;">
                <img style="height: 35px;" src="cid:martina.png" alt="Logo">
            </section>
            <div style="width: 50%; float: right; display: inline-block; text-align: right;">
                <p style="margin: 0;">Have questions? Write to <a href="#" style="color: #f77f76; font-weight: 700; text-decoration: none;">help@martina.com.co</a></p>
            </div>
        </header>

        <table style="width: 100%; border: 0; border-spacing: 0; padding: 0;">
            <tr>
                <td align="center">
                    <main style="text-align: center; margin: 10px 0;">
                        <section>
                            <img src="cid:forgot.png" alt="Forgot Icon">
                        </section>
                        <h1 style="font-size: 30px;">Forgot your password?</h1>
                        <p>Don't worry {{ name }}, we have you covered. Only insert this Pincode in our website.</p>
                        <span style="font-size: 40px; letter-spacing: 25px;">{{ code }}</span>
                    </main>
                </td>
            </tr>
        </table>


        <footer style="text-align: center; border-top: 1px solid #f8f6f7; font-size: 14px; color: #898989;">
            <p>www.martina.com.co</p>
            <p style="margin-top: 0;">&copy; {{ year }} Martina Store Colombia. All Rights Reserved.</p>
        </footer>

    </section>
</section>
